/* FIGURE OUT THE FONT FOR ALL TEXT*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}


h2 {
    text-align: center;
    padding: 50px 0px 10px 0px;
    font-size: 40px;
}

label,  p {
    text-align: center;
    font-size: 20px;
     
}
button {
    display:flex;
    flex-wrap: wrap;
    
}


#final-score{
    padding: 10px 20px;

    display: block;
    width: 700px;
    margin: 10px auto 0px auto;
    text-align: left;
}
/*form style*/

#initial-form {
    
    display: none;
    flex-wrap: wrap;
    padding: 10px 20px;
    
    width: 700px;
    margin: 10px auto 0px auto;
    text-align: left;
    text-align: center;
  }
  .text {
    padding: 20px 0px;
  }
#initials {
  padding: 20px;
}
form input {
    display: block;
    width: 350px;
    margin: 10px auto 0px auto;
    text-align: left;
  
}

/*Question formatting*/
#question, #final {
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 700px;
    margin: 10px auto 0px auto;
    text-align: left;

}



/*Right or Wrong display*/
#right-wrong  {
    

    color: #BFBBC1;
    font-size: 40px;
    text-align: left;
    font-style: italic;
  
   
    width: 700px;
    margin: 10px auto 0px 400px;
    border-top:#BFBBC1;
    border-top: solid;
   
}

/*Button formatting*/
.btn2{
    
  outline: none;
  border: none;
  

  background: #322252;
  color: white;
  font-size: 20px;
  text-align: center;

  
  
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 150px;
  margin: 10px auto 0px auto;
}

.btn3{
    
  outline: none;
  border: none;
  

  background: #322252;
  color: white;
  font-size: 20px;
  text-align: center;

  
  
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 150px;
  margin: 10px auto 0px auto;
}
  .btn {
   
    outline: none;
    border: none;
    
  
    background: #322252;
    color: white;
    font-size: 20px;
    text-align: left;
  
    
    
    padding: 10px 20px;
    border-radius: 5px;
  
    width: 250px;
    margin: 10px auto 0px 400px;
  }
  
  .btn2:hover, .btn3:hover, .btn:hover{
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background: #D36EEE;
  }
  
  
  

  /*Score Page style*/
button a {
  text-decoration: none;
  color: white;
}

#high-score{
    background: #DACBE1;
  }


.btn4{
  display: inline-block;
  outline: none;
  border: none;
  background: #322252;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 5px auto 0px auto;
  padding: 10px 15px;
 
}
.btn4:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
  background: #D36EEE;
}

#high-score, .list{
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: 665px;
    margin: 5px auto 0px auto;
    text-align: left;
 
}
.list{
  width: 700px;
}

